<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/dareforceone/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/dareforceone/">Home</a></li>
	        	<li><a href="/dareforceone/about">About</a></li>
        		<li><a href="/dareforceone/contact">Contact</a></li>
        		<li><a href="/dareforceone/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		
        {{ content }}
        
        
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:test@test.com">email</a></li>
			</ul>
		</footer>
	</body>
</html>
